*{
    margin:auto;
    padding: auto;
}

#header{
    margin-bottom: auto;
}

#navbarNav{
    background-color: #75A47F; 
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    margin-left: 48%;
}

nav ul {
    list-style-type: none;
    float: right;
}

.sacola{
    overflow: visible;
}

.container-fluid{
    background-color: #75A47F; 
}

#letra {
    color: #fff;
    text-decoration: none;
    font-size: 125%;
    font-family: 'Poppins', sans-serif;
}

#letra:hover{
   color: #a3b6ba;
}

#imagem2{
    float: left;
    margin-right: 2%;
    width: 40%;
    height: 50vh;
}

#parafabrica{
    font-size: 25px;
    margin-top: 6%;
    line-height: 140%;
}

#fundo{
    background-color: #A3B6BA;
    line-height: 120%;
    height: 60vh;
    margin-bottom: 5%;
    padding: 2%;
    margin-top: 0%;
    width: 100%;
    box-sizing: border-box;
}

#card1{
    background-color: #BACD92;
    padding: 2rem;
    width: 30%;
    height: 126vh;
    border-radius: 8%;
    margin-right: 5%;
}

#card2{
    background-color: #BACD92;
    padding: 2rem;
    width: 30%;
    height: 126vh;
    border-radius: 8%;
}

#container2{
    display: flex;
    margin-bottom: 2%;
}

.cor{
    text-align: center;
    margin-top: 1px;
    font-size: 25px;
    color: #FBF8DD;
    font-family: "Roboto Slab", serif;
}

iframe{
    border-radius: 10px;
    margin-top: 11px;
    margin-bottom: 18px;
    width: 100%;
    height: 40%;
}
#mapa{
    height: 40%;
}

#Localização{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

#processo{
    text-align: center;
    font-size: 24px;
    margin-top: 3%;
}

#Cursos{
    margin-top: 5%;
}


#h2{
    background-color: #75A47F;
    color: #FBF8DD;
    text-align:center;
    padding: 2%;
    font-family: "Roboto Slab", serif; 
}

#imagem{
    float: left;
    height: 400px;
    animation: pracima 2.0s infinite ease-in-out;
}

@keyframes pracima{
    50% {
        transform: translateY(-3%)
    }
}


/* #botaocamisa{
     display: none;
} */

#paracurso{
    text-align: center;
    margin-top: 6%;
    font-size: 30px;
    line-height: 40px;
}

#Cursos2{
    background-color: #A3B6BA;
    padding: 20px;
    height: 380px;
    margin-left: 11rem;
    margin-top: 20px;
}

#butao1{
    background-color:#BACD92;
    padding: 8px;
    width: 8%;
    height: 6vh;
    font-size: 12px;
    border: 2px solid #FBF8DD;
    border-radius: 5px;
    margin-left: 70%; 
    margin-top: 4em; 
    align-items: center;
}

#butao1:hover{
    background-color:#FBF8DD ;
    border: 3px solid  #BACD92;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#modulo{
    background-color:#FBF8DD;
    padding: 5%;
    height: 226vh;
}

/*Cursos Módulo 3*/
#modulo1{
    background-color: #BACD92;
    padding: 3%;
    border-radius: 50px;
    margin-bottom: 8%;
}

#modulo1:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    width: 88%;
}

#h2m{
    margin-bottom: 2%;
}

#sustentabilidade{
    line-height: 190%;
    font-size: 25px;
    color: white;
}

/*Cursos Módulo 2*/
#modulo2{
    background-color: #BACD92;
    padding: 3%;
    border-radius: 50px;
    margin-bottom: 8%;
}

#modulo2:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    width: 88%;
}

#modasus{
    margin-bottom: 2%;
}

#moda{
    line-height: 190%;
    font-size: 25px;
    color: white;
}

#modulo3{
    background-color: #BACD92;
    padding: 3%;
    border-radius: 50px;
    margin-bottom: 8%;
}

#modulo3:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    width: 88%;
}

#Produção{
    margin-bottom: 2%;
}

#ação{
    line-height: 190%;
    font-size: 25px;
    color: white;
}

footer{
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    background-color: #75A47F;
    /* margin-top: 250px; */
} 

#letras{
    font-size: 1.1rem;
}

#letras:hover{
    font-weight: 700;
}

footer h2 {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 0.1rem;
}

.img {
    margin-bottom: 1px;
    list-style-type: none;
    border-radius: 0.5rem;
    opacity: 0.5;
}

.redes{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    justify-content: center;
}

.redes:hover img {
   opacity: 50;
   background-color: #a3b6ba;
   letter-spacing: 0.5rem;
}

#h2{
    font-size: 115%;
    margin-bottom: 1%;
}

#pagamento{
    align-items: center;
}

#cartao1{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

h3{
    color: #fff;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 25px;
    letter-spacing: 0.1rem;
}

.input{
    width: 50%;
    padding: 10px;
    font-size: 14px;
    background-color:#8FBC8F;
    margin-bottom: 6px;
}

a{
    justify-content: center;     
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
}


.botao4{
    border: 2px solid rgb(253, 253, 253);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #a3b6ba;
    padding: 0.1em;

}
        
.botao4:hover{
    color: rgb(70, 69, 69);
    background-color: #fafafa;
}

#top{
    text-decoration: none;
    background-color: #a3b6ba;
    color: rgb(255, 255, 255);
    padding: 4px;
    position: fixed;
    right:15px;
    bottom: 35px;
    box-shadow: 3px 3px 10px #8FBC8F;
}


@media (max-width: 330px){
    body{
        width: 100%;
    }
    #logo{
        margin-left: 1em;
    }
    #fundo{
        height: 88vh;
        box-sizing: border-box;
    }
    #parafabrica{
        font-size: 20px;
    }
    #imagem2{
        float: none;
        width: 100%;
    }
    #container2{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }
    #card1, #card2{
       width: 90%;
       height: 112vh;
    }
    .iframe{
        height: 30vh;
    }
    #mapa{
        height: 30vh;
    }
    #imagem{
        width: 100%;
        height: 46vh;
        margin-left: 0;
        margin-bottom: 5%;
    }
    @keyframes pracima{
        50% {
            transform: translateY(-2%)
        }
    }
    #paracurso{
        font-size: 20px;
    }
    #Localização{
        font-size: 20px;
        margin-top: 12%;
    }
    #processo{
        font-size: 8px;
    }
    #Cursos2{
    height: 114vh;
    margin-left: 0;
    margin-top: 0;
    }
    #butao1{
        margin-left: 14em;
        width: 30%;
        height: 6vh;
        padding: 2%;
    }
    #butao1:hover{
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
         transform: scale(1.2);
         font-size: 10px;
         margin-left: 16em;
}
    .botao4{
        width: 20%;
        font-size: 14px;
    }
    #modulo1:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    #modulo2:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    #modulo3:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    .labelInput{
        display: grid;
        grid-template-rows: 28px 76px;
    }
    .input{
        width: 76%;
    }
    .redes{
        margin-top: 12px;
    }
    #modulo{
        text-align: center;
        height: 340vh;
    }
    #h2m{
        margin-bottom: 10%;
    }
    #modasus{
       margin-bottom: 12%;
    }
    #Produção{
        margin-bottom: 12%;
    }
    #cartao1{
        grid-template-columns: 50px 50px 50px 50px;
        column-gap: 20px;
    }
    #header{
        width: 100%;
    }
    #butao{
        width: 8%;
    }
    .navbar-toggler{
        margin-left: 2em;
    }
    .container-fluid{
        padding: 4%;
    }

    #top{
        text-decoration: none;
        background-color: #a3b6ba;
        color: rgb(255, 255, 255);
        padding: 4px;
        position: fixed;
        right:15px;
        bottom: 35px;
        box-shadow: 3px 3px 10px #8FBC8F;
        }
}


@media(max-width: 430px){
    #logo{
        margin-left: 1em;
    }
    #imagem2{
        float: none;
        width: 100%;
    }
    #fundo{
        height: 100vh;
    }
     #container2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      #card1, #card2{
        margin-bottom: 2%;
        width: 90%;
        height: 130vh;
      }
      #Localização{
        font-size: 26px;
      }
      #processo{
        font-size: 18px;
        font-weight: 700;
     }
     #imagem{
        width: 100%;
        float: none;
      }
      @keyframes pracima{
        50% {
            transform: translateY(-2%)
        }
    }
      #Cursos2{
        margin: 0;
        width: 100%;
        height: 88vh;
      }
      #butao1{
        width: 30%;
        margin-top: 2%;
        font-size: 12px;
      }
      #h2{
        padding: 4%;
     }
      #modulo{
        height: 270vh;
      }
     #modulo1:hover{
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
       -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
     #modulo2:hover{
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
       -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
     #modulo3:hover{
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
       -ms-transform: scale(1.1);
        transform: scale(1.1);
   }
   #cartao1{
       grid-template-columns: 70px 80px 80px 80px;
   }
}

/* @media(max-width: 810px){
    #logo{
        margin-left: 1em;
    }
    #imagem2{
        float: none;
        width: 98%;
    }
    #fundo{
        height: 80vh;
    }
     #container2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      #card1, #card2{
        margin-bottom: 2%;
        width: 90%;
        height: 68vh;
      }
      #Localização{
        font-size: 26px;
      }
      #processo{
        font-size: 18px;
        font-weight: 700;
     }
     #imagem{
        width: 60%;
        float: none;
        margin-left: 20%;
      }
      #Cursos2{
        margin: 0;
        width: 100%;
      }
      #butao1{
        width: 30%;
        margin-top: 2%;
        font-size: 12px;
      }
      #h2{
        padding: 4%;
     }
      #modulo{
        height: 220vh;
      }
     #modulo1:hover{
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
       -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
     #modulo2:hover{
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
       -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
     #modulo3:hover{
       -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
       -o-transform: scale(1.1);
       -ms-transform: scale(1.1);
        transform: scale(1.1);
   }
   #cartao1{
       grid-template-columns: 70px 80px 80px 80px;
   }
} */


