* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* header {
    background-color: #75A47F;
    background-size: cover;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


#navbarNav{
    background-color: #75A47F; 
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    margin-left: 48%;
}



nav ul {
    list-style-type: none;
    float: right;
}

.sacola{
    overflow: visible;
}

.container-fluid{
    background-color: #75A47F; 
}

#letra {
    color: #fff;
    text-decoration: none;
    font-size: 125%;
    font-family: 'Poppins', sans-serif;

}

#letra:hover{
   color: #a3b6ba;
}


/* header img {
    width: 100px;
    background-color: #75A47F;
}
header a {
    color: #75A47F;
    text-decoration: none;
    font-size: 1.2em;       
} */


.intro {
    align-items: center;
    background-color: #FBF8DD;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: 80vh;
}
.imagemetiqueta{
   width: 40%;
   float: left;
   margin-right: 2%;
}

.texto{
      margin-top: 8%;
      font-size: 1.6rem;
      font-family: 'Poppins', sans-serif;
}

.movimento:hover{
    animation: semove 0.8s  ease-in-out;
}

@keyframes semove{
    50% {
        transform: translateY(-20%)
    }
}

p {
    margin: 0;
    font-size: 1.2em;
}
.section {
    background-color: #BACD92;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section div {
    width: 100%;
    max-width: 30%;
    text-align: center;
    margin: 10px 0;
}
.section div img {
    width: 50px;
}

.contato{
    color: #75A47F;
}
.contact-info {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}
.contact-info {
    width: 100%;
    max-width: 30%;
    text-align: center;
    margin: 10px 0;
    
}
.contact-info {
    width: 50px;
}
footer{
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    background-color: #75A47F;
} 

#letras{
    font-size: 1.1rem;
}

footer h2 {
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 0.1rem;
}

.img {
    margin-bottom: 1px;
    list-style-type: none;
    border-radius: 0.5rem;
    opacity: 0.5;
}

.redes{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    align-items: center;
    justify-content: center;
}

.redes:hover img {
   opacity: 50;
   background-color: #a3b6ba;
   letter-spacing: 0.5rem;
}

#pagamento{
    justify-content: center;
}

#cartao1{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    align-items: center;
    justify-content: center;
}

h3{
    color: #fff;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 25px;
    letter-spacing: 0.1rem;
}

.input{
    width: 70%;
    padding: 10px;
    font-size: 14px;
    background-color:#8FBC8F;
    margin-bottom: 6px;
}

a{
    justify-content: center;     
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
}
.img {
    margin-bottom: 1px;
    list-style-type: none;
    border-radius: 0.5rem;
    opacity: 0.5;
}

#redes{
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 100px 100px; 
    align-items: center; 
}

#redes :hover img {
   opacity: 50;
   background-color: #a3b6ba;
   letter-spacing: 0.5rem;
}

#letras:hover{
    font-weight: 600;
}

.botao4{
    border: 2px solid rgb(253, 253, 253);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #a3b6ba;
    padding: 0.1em;

}
        
.botao4:hover{
    color: rgb(70, 69, 69);
    background-color: #fafafa;
}

.imagemetiqueta:hover{
    transform: scale(0.95); 
}


#pagamento{
    justify-content: center;
}

#cartao1{
    display: grid;
    grid-template-columns: 80px 100px 100px 100px;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 25px;
    letter-spacing: 0.1rem;
}

.input{
    width: 45%;
    padding: 10px;
    font-size: 14px;
    background-color:#8FBC8F;
}

a{
    justify-content: center;     
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
}
    

.embaixodaslogan {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    height: 30vh;
    gap: 0.5rem;
    grid-row: 2;
    column-gap: 4;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(255, 255, 255);
}

#contato{
    color: #75A47F;
    text-align: center;
    margin-top: 4%;
    font-weight: 600;
}

.icones {
    background-color:#ffffff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 2.4rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.icones:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    background-color:#a3b6ba; 
}


.T1{
    font-size: 0.9rem;
    text-align: center;
}


#top{
    text-decoration: none;
    background-color: #a3b6ba;
    color: rgb(255, 255, 255);
    padding: 4px;
    position: fixed;
    right:15px;
    bottom: 35px;
    box-shadow: 3px 3px 10px #8FBC8F;
}

@media (max-width: 304px) {
    .intro {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      height: 110vh;
    }
    .imagemetiqueta{
       width: 100%;
    }
    .texto{
        font-size: 20px;
    }
    .botao4{
        width: 20%;
        font-size: 14px;
    }
    .labelInput{
        display: grid;
        grid-template-rows: 28px 76px;
        row-gap: 10px;
    }
    .input{
        width: 76%;
    }
    .section{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        height: 160vh;
        width: 98%;
        margin: 2%;
    }
    .section div{
        max-width: none;
    }
    #cartao1{
        grid-template-columns: 50px 50px 50px 50px;
        column-gap: 10px;
    }

    #top{
        text-decoration: none;
        background-color: #a3b6ba;
        color: rgb(255, 255, 255);
        padding: 4px;
        position: fixed;
        right:15px;
        bottom: 35px;
        box-shadow: 3px 3px 10px #8FBC8F;
        }
}


@media(max-width: 430px){
    .intro{
        width: 100%;
        margin-left: 0;
        height: 136vh;
    }
    .imagemetiqueta{
        width: 100%;
        float: none;
    }
    .texto{
        font-size: 24px;
    }
    .section{
        width: 100%;
        margin-left: 0;
    }
    .section div{
        max-width: none;
    }
    .embaixodaslogan{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        height:70vh;
        row-gap: 12px;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 90%;
    }
    .icones{
        margin-left: 4em;
        margin-right: 0;
        padding: 4%;
    }
    .icones:hover{
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
        background-color:#a3b6ba; 
    }
}
