*{
    margin:auto;
    padding: auto;
}

#container{
    background-color: #75A47F;
    padding: 2%;
    margin-bottom: 2%;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: auto;
    height: 10vh; 
    background-color:#75A47F;
    align-content: center; */
    /* padding: 5px; */
    /* margin-bottom: 3%;
    margin-left: 10rem;
    margin-right: 10rem; */
}
nav{
    display: grid;
    grid-template-columns: 10px 6PX 500px;
    column-gap: 20%;
    justify-content:space-around;
}

ul, li{
    display: inline;
}

nav, ul, li, a{
    color: #fff;
    text-decoration: none;
    font-size: 115%;
    font-family: 'Poppins', sans-serif;
}

nav, ul, li, a:hover{
    color: #a3b6ba;
 }

#aimg{
    color: #fff;
    text-decoration: none;
    font-size: 140%;
    font-family: 'Poppins', sans-serif;
}

#aimg:hover{
   color: #a3b6ba;
}

.espaco{
    margin: 20px;
    color: #FBF8DD;
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

#imagem2{
    float: left;
    height: 40vh;
    margin-right: 2%;
    width: 40%;
}

#item3{
    text-decoration: none;
}

#parafabrica{
    font-size: 25px;
    margin-top: 5%;
    line-height: 140%;
}

#fundo{
    background-color: #A3B6BA;
    line-height: 120%;
    padding: 2%;
    height: 50vh;
    margin-bottom: 5%;
    width: 100%;
    box-sizing: border-box;
}

#card1{
    background-color: #BACD92;
    padding: 2rem;
    width: 30%;
    height: 100vh;
    border-radius: 8%;
    margin-right: 5%;
}

#card2{
    background-color: #BACD92;
    padding: 2rem;
    width: 30%;
    height: 100vh;
    border-radius: 8%;
}

#container2{
    display: flex;
    align-items:end;
}

.cor{
    text-align: center;
    margin-top: 1px;
    font-size: 25px;
    color: #FBF8DD;
    font-family: "Roboto Slab", serif;
}

iframe{
    border-radius: 10px;
    margin-top: 11px;
    margin-bottom: 18px;
    width: 100%;
    height: 50%;
}
#mapa{
    height: 50%;
}

#Localização{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
}

#processo{
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
}

#Cursos{
    margin-top: 15%;
}

#h2{
    background-color: #75A47F;
    color: #FBF8DD;
    text-align:center;
    padding: 15px;
    font-family: "Roboto Slab", serif; 
}

#imagem{
    float: left;
    height: 400px;
}

#paracurso{
    text-align: center;
    margin-top: 6%;
    font-size: 30px;
    line-height: 40px;
}

#Cursos2{
    background-color: #A3B6BA;
    padding: 20px;
    height: 320px;
    margin-left: 11rem;
    margin-top: 20px;
}

button{
    background-color:#BACD92;
    padding: 8px;
    width: 8%;
    height: 8vh;
    font-size: 14px;
    border: 2px solid #FBF8DD;
    border-radius: 5px;
    margin-left: 50em;
    margin-top: 2em;
}

button:hover{
    background-color:#FBF8DD ;
    border: 3px solid  #BACD92;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#modulo{
    background-color:#FBF8DD;
    padding: 5%;
    margin-top: 3%;
    height: 120vh;
}

/*Cursos Módulo 3*/
#modulo1{
    background-color: #BACD92;
    padding: 3%;
    border-radius: 50px;
    margin-bottom: 8%;
}

#modulo1:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    width: 88%;
}

#h2m{
    margin-bottom: 2%;
}

#sustentabilidade{
    line-height: 190%;
    font-size: 25px;
    color: white;
}

/*Cursos Módulo 2*/
#modulo2{
    background-color: #BACD92;
    padding: 3%;
    border-radius: 50px;
    margin-bottom: 8%;
}

#modulo2:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    width: 88%;
}

#modasus{
    margin-bottom: 2%;
}

#moda{
    line-height: 190%;
    font-size: 25px;
    color: white;
}

#modulo3{
    background-color: #BACD92;
    padding: 3%;
    border-radius: 50px;
    margin-bottom: 8%;
}

#modulo3:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    width: 88%;
}

#Produção{
    margin-bottom: 2%;
}

#ação{
    line-height: 190%;
    font-size: 25px;
    color: white;
}

footer {
    background-color: #75A47F;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    /* margin:0;
    padding:0; */
}

footer p {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
} 

footer h2 {
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 0.1rem;
}

.img{
    margin-bottom: 1px;
    list-style-type: none;
    border-radius: 0.5rem;
    opacity: 0.5;
}

#redes{
    display: flex;
    justify-content: center;    
}

#redes:hover img {
   opacity: 50;
   background-color: #a3b6ba;
   letter-spacing: 0.5rem;
}

#pagamento{
    display: flex;
    justify-content: center;
}

h3{
    color: #fff;
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    letter-spacing: 0.1rem;
}

.img1{
    margin-top: 30px;
}







@media (max-width: 316px){
    body{
        width: 100%;
    }
    #fundo{
        height: 68vh;
        box-sizing: border-box;
    }
    #parafabrica{
        font-size: 20px;
    }
    #imagem2{
        float: none;
        width: 100%;
    }
    #container2{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }
    #card1, #card2{
       width: 76%;
       height: 80vh;
    }
    #imagem{
        width: 100%;
        height: 42vh;
        margin-left: 0;
        margin-bottom: 5%;
    }
    #imagem:hover{
        position: none;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: translate(0%, 0%);
        z-index: 10;
    }
    #paracurso{
        font-size: 20px;
    }
    #Localização{
        font-size: 20px;
        margin-top: 12%;
    }
    #processo{
        font-size: 16px;
    }
    #Cursos2{
    height: 98vh;
    margin-left: 0;
    margin-top: 0;
    }
    button{
        margin-left: 12em;
        width: 30%;
    }
    #modulo{
        text-align: center;
    }
    #h2m{
        margin-bottom: 10%;
    }
    #modasus{
       margin-bottom: 12%;
    }
    #Produção{
        margin-bottom: 12%;
    }
}

