*{
    margin:0%;
}

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: auto;
    height: 10vh; 
    background-color:#75A47F;
    padding: 5px;
    margin-bottom: 20px;
}
.espaco{
    margin: 40px;
    color: #FBF8DD;
    font-size: 20px;
    font-weight: bold;
}

#item3{
    text-decoration: none;
}

img{
    float:left;
    margin: 10px;
}

#fundo{
    background-color: #A3B6BA;
    padding: 3rem;
    font-size: 40px;
    margin-bottom: 2rem;
}

#card1{
    background-color: #BACD92;
    padding: 2rem;
    width: 250px;
    height: 300px;
    border: 0px solid #BACD92;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 15rem;
}

#card2{
    background-color: #BACD92;
    padding: 2rem;
    width: 250px;
    height: 300px;
    border: 0px solid #BACD92;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 2rem;
}
